/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

/* Properties */
:root {
  --clr-neutral-800: hsl(217 19 35);
  --clr-neutral-400: hsl(214 17 51);
  --clr-neutral-200: hsl(212 23 69);
  --clr-neutral-100: hsl(210 46 95);
  --clr-neutral-10: hsl(0 0 100);

  --ff-primary: Manrope;

  --fs-400: 0.625rem;
  --fs-600: 0.825rem;
  --fs-700: 1rem;

  --fw-normal: 500;
  --fw-bold: 700;

  --lh-300: 0.875rem;
  --lh-400: 1rem;
  --lh-600: 1.25rem;
}

/* Components */
body {
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-100);
  display: grid;
  place-content: center;
  height: 100vh;
}

.article-preview-component {
  max-width: 260px;
  background-color: var(--clr-neutral-10);
  margin-inline: auto;
  display: grid;
  gap: 1.725rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 15px 50px -40px var(--clr-neutral-800);
}

.article-image {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 10rem;
  width: 260px;
  object-fit: cover;
  object-position: center;
}

.article-preview-text {
  display: grid;
  gap: 1.725rem;
  max-width: 212px;
  margin-inline: auto;
}

.text-section {
  display: grid;
  gap: 0.625rem;
}

.profile-section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.profile-picture {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.name-date-group {
  flex: 1;
  display: grid;
}

.share-button {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: grid;
  place-content: center;
  border: none;
  background-color: var(--clr-neutral-100);
  transition: all 0.25s ease;
}

.share-button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

.share-button img {
  width: 12px;
}

.share-bar {
  position: absolute;
  display: flex;
  background-color: var(--clr-neutral-800);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  gap: 1rem;
  align-items: center;
  bottom: 4.5rem;
  right: -4.5rem;
  box-shadow: 0 10px 35px -15px var(--clr-neutral-800);
  z-index: 1;
  transition: all 0.3s ease;
}

.share-bar h2 {
  letter-spacing: 0.75ch;
}

/* Media queries */

@media (max-width: 50em) {
  .share-bar {
    position: absolute;
    display: flex;
    background-color: var(--clr-neutral-800);
    padding: 1.25rem 1.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    gap: 0.75rem;
    align-items: center;
    bottom: 0;
    left: 0;
    max-width: 100%;
    box-shadow: 0 10px 35px -15px var(--clr-neutral-800);
    z-index: 10;
    transition: all 0.3s ease;
  }

  #dark-share-button {
    margin-left: auto;
    background-color: var(--clr-neutral-400);
  }

  #dark-share-button svg {
    fill: var(--clr-neutral-100);
  }

  .share-bar img {
    width: 1.125rem;
  }

  .share-button img {
    width: 12px;
  }
}

@media (min-width: 50em) {
  .article-preview-component {
    background-color: var(--clr-neutral-10);
    max-width: 100em;
    margin-inline: auto;
    display: flex;
    gap: 0;
    border-radius: 0.5rem;
    position: relative;
    padding: 0;
    box-shadow: 0 15px 50px -40px var(--clr-neutral-800);
  }

  .article-preview-text {
    display: grid;
    gap: 0.875rem;
    max-width: 22em;
    padding: 1.5rem 2rem;
  }

  .article-image {
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    width: 14rem;
    object-fit: cover;
    object-position: left;
  }

  .fs-400 {
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    word-spacing: normal;
  }

  .fs-600 {
    font-size: var(--fs-700);
    line-height: var(--lh-600);
  }

  .share-bar::before {
    content: " ";
    position: absolute;
    background: var(--clr-neutral-800);
    width: 30px;
    height: 30px;
    top: 25px;
    left: 42%;
    transform: rotate(45deg);
    z-index: -1;
  }
}

/* Utility classes */
.ff-primary {
  font-family: var(--ff-primary);
  word-spacing: 0.15ch;
}
.fs-400 {
  font-size: var(--fs-400);
  line-height: var(--lh-400);
  word-spacing: 0.3ch;
}
.fs-600 {
  font-size: var(--fs-600);
  line-height: var(--lh-600);
}
.fw-normal {
  font-weight: var(--fw-normal);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.clr-neutral-800 {
  color: var(--clr-neutral-800);
}
.clr-neutral-400 {
  color: var(--clr-neutral-400);
}
.clr-neutral-200 {
  color: var(--clr-neutral-200);
}
.clr-neutral-100 {
  color: var(--clr-neutral-100);
}
.display-none {
  display: none;
}
.svg-clr-neutral-400 {
    fill: var(--clr-neutral-200);
}

/* Frontend Mentor attribution */
.attribution {
  display: hidden;
  position: absolute;
  font-size: 11px;
  text-align: center;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
